* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3d3dd;
  font-family: "Courier New", Courier, monospace;
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container .card {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  margin: 30px 20px;
  /* padding: 10px 0px; */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  transition-property: height, width, border-radius;
}

.container .card:hover {
  height: 300px;
  width: 250px;
  border-radius: 0%;
  padding: 10px;
}

.container .card .imgBx {
  position: relative;
  width: 100px;
  height: 100px;
  /* top: -60px; */
  /* left: 20px; */
  z-index: 1;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.container .card .imgBx img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container .card .content {
  position: relative;
  /* margin-top: -140px; */
  padding: 10px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content p {
  font-size: 15px;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  /* margin-top: -40px; */
  transition-delay: 0.3s;
}
